*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background: #09051a;
}

header{
    background-color: #0a034dc7;
    filter: drop-shadow(5px 5px 5px black);
}

.icon{
    font-weight: 200;
    font-size: 30px;
    color: whitesmoke;
    margin-left: 100px;
}

.icon p{
    font-size: 10px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul{
    display: flex;
    margin-top: -75px;
    list-style: none;
    margin-left: 800px;
}

.navbar ul li a{
    margin: 0 15px;
    margin-top: 26px;
    font-size: 13px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
    transition: all .4s ease;
    width: 80px;
    height: 35px;
    border-radius: 30px;
}

.navbar a{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

/* .navbar li a:hover{
    background: #4029a5c0;
    color: #fff;
    transform: scale(1.2);
    width: 80px;
    height: 35px;
    border-radius: 30px;
} */

.home{
    display: flex;
    margin-top: 200px;
    margin-left: 80px;
    color: whitesmoke;
    line-height: 60px;
    font-weight: 400px;
    text-shadow: 1px 1px  #4029a5c0;

}

.home h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    text-shadow: 1px 1px  #4029a5c0;

}

.home span{
    font-size: 40px;
    color: #fff;
    
    font-weight: 300;
    text-shadow: 4px 4px 1px  #4029a5c0, 4px 4px 1px #ffffffec;
    

    


}

.home p{
    margin-top: 120px;
    margin-left: -540px;
    font-size: 25px;
    text-shadow: 1px 1px  #4029a5c0;

}

.home p span{
    font-size: 40px;
    
}

.home-img{
    display: flex;
    margin-left: 800px;
}

.home-img img{
    width: 400px;
    margin-top: -250px;
}

hr {
    display: flex;
    color: #4029a5c0; 
    background-color: #4029a5c0; 
    height: 2px; 
    border: none; 
    margin-top: 200px;
}
.imgs{
    margin-bottom: -200px;
    margin-left: 100px;
}
.about{
    display: flex;
    margin-top: 100px;
    margin-left: 120px;
}

.about p{
    color: #85929E;
    margin-left: -100px;
    font-size: 20px;
}

.about h1{
    margin-top: 10px;
    margin-left: -100px;
    color: #4029a5c0;
    font-weight: 800;
    font-size: 30px;
    
}

.about h2{
    color: white;
    text-align: center;
    align-items: center;
    margin: 100px auto;
    max-width: 550px;
    position: relative;
    margin-left: 220px;
    padding-left: 55px;
    padding-right: 55px;
}
.about h2:before{
    background-color: #4029a5c0;
            display: block;
    
            width: 320px;
            height: 2px;
            content: "";
            position: absolute;
            left: 90%;
            top: 50%;
            z-index: -1;
}
.about h2:after{
    background-color: #4029a5c0;
            display: block;
            
            width: 320px;
            height: 2px;
            content: "";
            position: absolute;
            right: 90%;
            top: 50%;
            z-index: -1;
}
.about h2.one img{
    width: 100px;
    height: 100px;
    padding-top: 20px;
    margin-top: 10px;
    padding-bottom: -20px;
}
.about h2.two img{
    width: 100px;
    height: 100px;
    padding-top: 20px;
}
.about h2.thre img{
    width: 100px;
    height: 100px;
    padding-top: 20px;
}
.about h2.four img{
    width: 100px;
    height: 100px;
    padding-top: 20px;
}




















#about{
margin-top: -300px;
}

/* .abimg{
    display: flex;
    background: transparent;
    height: 500px;
    width: 500px;
    padding-top: -100px
} */
.aboutus-txt{
    display: flex;
}

.aboutus-img{
    margin-top: -140px;
    margin-left: 100px;
    margin-bottom: 70px;
}

.aboutus-img img{
    display: flex;

    width: auto;
    height: 550px;
    
} 

.aboutus-txt{
    display: flex;
    margin-top: 385px;
    margin-left: 300px;
    color:#4029a5c0 ;
    font-size: 40px;
}


.aboutus-txt h1{
    font-weight: 500;
    padding-left: 500px;
}

.aboutus-disc{
    display: flex;
    margin-left: 500px;
    margin-top: 10px;
}

.aboutus-disc p{
    color: #fff;
    font-size: 13px;
}

.skills{
    display: flex;
    flex-direction: column;
    margin-top: -350px;
    margin-left: 500px;
    cursor: pointer;
}

.skills h3{
    font-size: 15px;
    color: #fff;
    font-weight: 300;
}

.line{
    display: flex;
    color: #4029a5c0;
    background-color: #4029a5c0; 
    height: 2px;
    width: 100%;
    margin: 0 auto;
    border: none;
    margin-top: 160px;
}

.skills-two{
    display: flex;
    flex-direction: column;
    margin-top: -70px;
    margin-left: 800px;
    cursor: pointer;
}

.skills-two h3{
    font-size: 15px;
    color: #fff;
    font-weight: 300;
}

.aboutus-btn{
    display: flex;
    margin-left: 500px;
    margin-top: 40px;
    font-size: 10px;
}

.aboutus-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    outline: none;
    border: none;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    font-weight: 600;
    font-size: 12px;
    transition: all .3s ease;
    cursor: pointer;
}


.aboutus-btn button:hover{
    transform: scale(1.1);
    background: none;
    border: 2px solid #4029a5c0;
    color: #fff;
}

.services{
    display: flex;
}

.services-img{
    display: flex;
    background-size: cover;
    overflow: hidden;
    width: 100%;
}

.services-img img{
    display: flex;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.glass{
    display: flex;
    margin-left: -1120px;
    margin-top: 250px;
    width: 900px;
    height: 500px;
    backdrop-filter: blur(50px);
    border: 2px solid #4029a5c0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50px;
    box-shadow: 1px  1px 1px 1px  #fff;


}

.services-txt{
    display: flex;
    margin-left: 340px;
    margin-top: 80px;
    
}

.services-txt h1{
    color: #4029a5c0;
    font-size: 50px;
    font-weight: 900;
    filter: drop-shadow(2px 2px 2px black);
}

.services-txt p{
    display: flex;
    margin-top: 80px;
    margin-left: -370px;
    line-height: 22px; 
    text-align: center; 
    color: #fff; 
}

.services-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    margin-left: -500px;
}

.box-one{
    display: flex;
    width: 150px;
    height: 150px;
    background: none;
    margin: 0 12px;
    border: 3px solid whitesmoke;
    filter: drop-shadow(1px 1px 1px black);
    transition: all .2s ease;
    cursor: pointer;
    border-radius: 20px;
        box-shadow: 4px  4px 4px 4px  #4029a5c0;

}

.box-one:hover{
    transform: scale(1.1);
}


.box-two{
    display: flex;
    width: 150px;
    height: 150px;
    background: none;
    margin: 0 12px;
    border: 3px solid whitesmoke;
    filter: drop-shadow(1px 1px 1px black);
    transition: all .2s ease;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 4px  4px 4px 4px  #4029a5c0;

}

.box-two:hover{
    transform: scale(1.1);
}

.box-thre{
    display: flex;
    width: 150px;
    height: 150px;
    background: none;
    margin: 0 12px;
    border: 3px solid whitesmoke;
    filter: drop-shadow(1px 1px 1px black);
    transition: all .2s ease;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 4px  4px 4px 4px  #4029a5c0;
}

.box-thre:hover{
    transform: scale(1.1);
}

.box-one img{
    display: flex;
    width: 40px;
    height: 40px;
    margin-left: 55px;
    margin-top: 20px;
}

.box-one p{
    display: flex;
    font-size: 18px;
    color: whitesmoke;
    font-weight: 700;
    text-align: center;
    margin-top: 80px;
    margin-left: -87px;
    line-height: 20px;
}

.box-two img{
    display: flex;
    width: 40px;
    height: 40px;
    margin-left: 55px;
    margin-top: 20px;
    
}

.box-two p{
    display: flex;
    font-size: 18px;
    color: whitesmoke;
    font-weight: 700;
    text-align: center;
    margin-top: 80px;
    margin-left: -87px;
    line-height: 20px;
}

.box-thre img{
    display: flex;
    width: 40px;
    height: 40px;
    margin-left: 55px;
    margin-top: 20px;
}

.box-thre p{
    display: flex;
    font-size: 18px;
    color: whitesmoke;
    font-weight: 700;
    text-align: center;
    margin-top: 80px;
    margin-left: -87px;
    line-height: 20px;
}
#contact{
    background-color: rgba(3, 56, 21, 0.417);
    
    padding: 70px 50px 50px 70px;
}
.main1{
    padding: 3px 3px 3px 3px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-right: 15px;
    margin-left: 15px;
    display: block;
    background-color: rgba(0, 100, 0, 0.485);
    border-radius: 20px;
}
.material{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    height: 280px;
    
}
.contact1{
    padding-top: 50px;
}
.contact1 h2{
    color: #fff;
}
.contact1 p{
    color: #fff;
    font-size: 15px;
    margin-top: -10px;
}

.email{
    display: -moz-box;
    border: 2px solid rgba(0, 100, 0, 0.485);
    height: 70px;
   margin-left: 650px;
   margin-right: 10px;
    align-items: center;
    text-align: left;
    margin-top: -190px;
    background-color: rgba(50, 118, 52, 0.548);
    border-radius: 8px;

}
.email p{
color: #fff;
font-size: 10px;
margin-left: 55px;
margin-top: 20px;
}
.email h5{
    color: #fff;
   margin-left: 55px; 
}
.email h3{
    display: block;
    color: gold;
    font-size: 20px;
    position: relative;
    align-items: center;
    margin-left: 20px;
    margin-top: -40px;
    
}
.phone{
    display: block;
    height: 70px;
    margin-left: 650px;
    margin-right: 10px;
    
    align-items: center;
    text-align: left;
    
    background-color: rgba(50, 118, 52, 0.548);
    border: 2px solid rgba(0, 100, 0, 0.485) ;
    border-radius: 8px;
}
.phone p{
    color: #fff;
    font-size: 10px;
    margin-left: 55px;
    margin-top: 20px;
    }
.phone h5{
    color: #fff;
    margin-left: 55px;

}
.phone h3{
    display: block;
    color: gold;
    font-size: 20px;
    position: relative;
    align-items: center;
    margin-left: 20px;
    margin-top: -40px;
    
    

}